.icon {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-remove {
    background-image: url('/../../image/remove.svg');
}

.icon-edit {
   background-image: url('/../../image/edit.svg'); 
}